<div class="component-container">
  <div class="vertical-bar-1">MATCH HISTORY</div>
  <div class="card-container" >
    <div class="vertical-bar-2">LAST 20 MATCHES</div>
    <div class="sort-and-filter">
      <select (change)="sortSelected($event)">
        <option>MOST RECENT</option>
        <option>MOST ELIMS</option>
        <option >HIGHEST SPM</option>
      </select>
      <select (change)="modeSelected($event)">
        <option>ALL MODES</option>
        <option *ngFor="let mode of gameMode | keyvalue">{{ mode.value }}</option>
      </select>
      <select (change)="mapSelected($event)">
        <option>ALL MAPS</option>
        <option *ngFor="let map of gameMap | keyvalue">{{ map.value }}</option>
      </select>
    </div>
    <div class="card" *ngFor="let match of displayMatchData; let i = index">
      <div class="card-row">
        <div>
          <div>{{ gameMap[match.map] }}</div>
          <div class=card-match-mode-date>{{ gameMode[match.mode] }}</div>
          <div class=card-match-mode-date>{{ match.convertedDate }}</div>
        </div>
        <div class="card-match-result-loss" *ngIf="match.result == 'loss'; else win">
          L
        </div>
        <ng-template #win>
          <div class="card-match-result-win">W</div>
        </ng-template>
      </div>
      <div class="card-row">
        <div class="card-match-stat-title">ELIMS/D RATIO</div>
        <div class="card-match-stat-title">ELIMS</div>
        <div class="card-match-stat-title">SPM</div>
      </div>
      <div class="card-row">
        <div class="fade-divider"></div>
        <div class="fade-divider"></div>
        <div class="fade-divider"></div>
      </div>
      <div class="card-row">
        <div class="card-match-stat-ratio">{{ match.playerStats.ekiadRatio === 0 ? 0 : match.playerStats.ekiadRatio.toFixed(2) }}</div>
        <div class="card-match-stat-data">{{ match.playerStats.ekia }}</div>
        <div class="card-match-stat-data">{{ match.playerStats.scorePerMinute.toFixed(0) }}</div>
      </div>
    </div>
  </div>
</div>

